:root {
	--gray-light:  #505050;
	--gray-dark:   #333333;
	--brown-dark:  #BA4503;
	--brown-light: #FF6200;
	--gold: 	   #F8B03E;
	--white-dark:  #F1EEEE;
}

body {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, li, ul {
	margin: 0;
}

ul {
	padding: 0;
	list-style-type: none;
}

::-webkit-selection,
::-moz-selection,
::selection {
	background-color: var(--brown-light);
	color: var(--white-dark);
	text-shadow: none;
}

#root {
	display: grid;
	grid-template-columns: 1fr minmax(320px, 1000px) 1fr;
	grid-auto-rows: auto 1fr auto;
    min-height: 100vh;
    grid-template-areas: 
    "header header header"
    ". main ."
    "footer footer footer";
}

header {
	grid-area: header;
	position: sticky;
    top: 0;
    z-index: 20;
	padding-top: 0.625rem;
	height: fit-content;
}

main {
	box-sizing: border-box;
	grid-area: main;
	width: 100%;
	padding: 0 1rem 0 1rem;
}

footer {
	grid-area: footer;
	height: 82px;
}

#opacity_wrapper {
	position: fixed;
	inset: 0;
	height: 100vh;
	width: 100vw;
	background: rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	z-index: 10;
	transition: opacity 0.7s ease-in-out;
	-moz-transition: opacity 0.7s ease-in-out;
	-webkit-transition: opacity 0.7s ease-in-out;
}

.wrapper_off {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.wrapper_on {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

@media (max-width: 650px) {
	footer {
		height: fit-content;
	}
}