.ticket_notion_body {
	margin-bottom: 8rem;
	font-size: x-large;
	text-align: center;
	gap: 0.3rem;
}

a,
.aggragator_link_view {
	text-decoration: none;
	color: var(--gold);
	opacity: 0.7;
	transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-webkit-transition: opacity 0.3s linear;
}

.aggragator_link_view:hover {
	opacity: 1;
}

.ticket_notion_text_view {
	color: var(--white-dark);
}