.articles_section {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	margin-bottom: 10rem;
}

.articles_space {
	display: grid;
	grid-template-columns: 2fr 3fr;
	gap: 1.25rem;
}

.articles_space > :nth-child(3) {
	grid-column: 1 / -1;
}

.articles_title_view {
	color: var(--gray-dark);
}

.article_list_frame {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	height: 395px;
	width: 100%;
	border-radius: 0.938rem;
	transition:
		box-shadow 0.3s ease-in-out,
		border-radius 0.3s ease-in-out;
	-webkit-transition:
		box-shadow 0.3s ease-in-out,
		border-radius 0.3s ease-in-out;
	-moz-transition:
		box-shadow 0.3s ease-in-out,
		border-radius 0.3s ease-in-out;
}

.article_list_frame:hover {
	box-shadow: var(--gold) 0px 0px 24px;
	border-radius: 2rem;
}

.article_list_img {
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: none;
	background-size: cover;
	transition: transform 0.3s ease-in-out;
	-webkit-transition: transform 0.3s ease-in-out;
	-moz-transition: transform 0.3s ease-in-out;
}

.article_list_img:hover {
	transform: scale(1.015);
}

@media (max-width: 920px) {
	.articles_space {
		display: flex;
		flex-direction: column;
	}

	.article_list_frame {
		height: 300px;
	}
}

@media (max-width: 920px) {
	.article_list_frame {
		height: 200px;
	}
}