.team_section {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 7.5rem;
}

.team_section::before {
	content: "";
	position: absolute;
	inset: 0;
	z-index: -1;
	background-image: url("../../../../../assets/background/b4.svg");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 460px auto;
	opacity: 0.05;
	pointer-events: none;
}

.team_img {
	height: 420px;
	width: 80%;
	background:
		url("../../../../../assets/team.jpg")
		center / cover no-repeat;
	border: 1px solid black;
	border-radius: 0.938rem;
	justify-self: flex-end;
}

.team_title_view {
	font-size: 2.5rem;
	color: var(--brown-dark);
}

.team_text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 4.25rem;
}

.team_paragraph {
	display: flex;
	flex-direction: column;
	gap: 1.188rem;
}

.addressing_visitors_view {
	max-width: 420px;
	color: var(--gray-light);
}

.team_btn_view {
	width: fit-content;
	display: flex;
	cursor: pointer;
	align-items: center;
	gap: 0.625rem;
	background-color: var(--gold);
	border-radius: 0.5rem;
	border: 0;
	padding: 0.313rem 0.688rem;
	transition:
		transform 0.3s ease-out,
		border 0.15s ease-in-out;
	-webkit-transition:
		transform 0.3s ease-out,
		border 0.15s ease-in-out;
	-moz-transition:
		transform 0.3s ease-out,
		border 0.15s ease-in-out;
}

.team_btn_view:hover {
	transform: scaleX(0.95) scaleY(0.98);
}

.team_btn_view:active {
	border: 1.5px var(--gray-dark) solid;
}

@media (max-width: 870px) {
	.team_section {
		align-items: center;
	}

	.team_img {
		height: 360px;
		width: 70%;
	}

	.addressing_visitors_view {
		font-size: small;
	}

	.team_text {
		gap: 1.5rem;
	}
}

@media (max-width: 780px) {
	.team_img {
		height: 280px;
		width: 70%;
	}

	.team_section::before {
		background-size: 320px auto;
	}
}

@media (max-width: 600px) {
	.team_section {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	.team_title_view {
		font-size: 2rem;
	}

	.addressing_visitors_view {
		font-size: 0.7rem;
	}

	.team_text {
		order: 2;
	}

	.team_img {
		order: 1;
		height: 180px;
	}
}
