footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem 0 1rem;
	background-color: var(--white-dark);
	border-radius: 1rem 1rem 0 0;
}

.copyright {
	color: var(--gray-light);
	font-size: 0.938rem;
	opacity: 0.7;
}

.social_media {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.625rem;
	padding-top: 0.188rem;
}

.footer_logo {
	padding-top: 0.4rem;
	cursor: pointer;
}

.sm_icon {
	opacity: 0.5;
	transition:
		scale 0.5s,
		opacity 0.3s;
}

.sm_icon:hover {
	scale: 105%;
	opacity: 0.7;
}

@media (max-width: 650px) {
	.sm_icon {
		width: 28px;
		height: 28px;
	}

	.footer_logo {
		width: 42px;
		height: 42px;
	}

	footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0.5rem 1rem;
	}

	.footer_logo {
		order: 1;
		padding: 0;
	}

	.social_media {
		order: 1;
		padding-bottom: 0.5rem;
	}

	.copyright {
		order: 1;
	}
}