.baumans-regular {
  font-family: "Baumans", system-ui;
  font-weight: 400;
  font-style: normal;
}


.chivo-mono-bold {
  font-family: "Chivo Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.climate-crisis-regular{
  font-family: "Climate Crisis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "YEAR" 1979;
}

.coda-regular {
  font-family: "Coda", system-ui;
  font-weight: 400;
  font-style: normal;
}

.coda-extrabold {
  font-family: "Coda", system-ui;
  font-weight: 800;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.cinzel-regular {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.jersey-15-regular {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.b612-regular {
  font-family: "B612", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.b612-bold {
  font-family: "B612", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.b612-regular-italic {
  font-family: "B612", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.b612-bold-italic {
  font-family: "B612", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.jim-nightshade-regular {
  font-family: "Jim Nightshade", cursive;
  font-weight: 400;
  font-style: normal;
}

