.searchbar_section {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.7rem;
	padding-top: 2rem;
	margin-bottom: 1rem;
}

.articles_page_title_view {
	background-image:
		linear-gradient(
			var(--brown-light),
			var(--brown-dark)
		);
    color: transparent;
    background-clip: text;
	font-size: 2.5rem;
}

@media (max-width: 450px) {
	.articles_page_title_view {
		font-size: 1rem;		
	}
}