.results_section {
	background-color: rgba(0, 0, 0, 0.03);
	border-radius: 3.5rem;
	overflow-y: scroll;
	padding: 1rem 1.5rem;
	height: 60vh;
	margin-bottom: 3rem;
	min-width: 0;
	box-sizing: border-box;
}

.articles_list_view {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

@media (max-width: 770px) {
	.results_section {
		border-radius: 2.5rem;		
	}
}

@media (max-width: 485px) {
	.results_section {
		border-radius: 3rem;		
	}
}