.search_bar_view {
	width: 40%;
	background:
		url("../../../assets/other/Search.svg")
		no-repeat 0.5rem center;
	background-size: 1.813rem 1.813rem;
	text-align: center;
	background-color: rgba(214, 211, 211, 0.505);
	color: var(--gray-light);
	border-radius: 1.25rem;
	border: 0;
	font-size: large;
	padding: 0.5rem;
	height: fit-content;
}

.search_bar_view:focus {
	outline-color: var(--brown-light);
	color: var(--brown-dark)
}

@media (max-width: 620px) {
	.search_bar_view {
		font-size: small;
	}
}

@media (max-width: 450px) {
	.search_bar_view {
		font-size: 0.5rem;
		background-size: 1rem 1rem;
	} 
}