.lang_selector {
	position: relative;
}

.lang_selector button {
	display: flex;
	align-items: center;
	border: 0;
	background-color: transparent;
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;
}

#lang_selector_btn {
	cursor: pointer;
}

#curr_lang {
	cursor: pointer;
	font-size: 1.125rem;
}

#selector_arrow {
	transition: transform 0.5s ease-in-out;
	-webkit-transition: transform 0.5s ease-in-out;
	-moz-transition: transform 0.5s ease-in-out;
}

.lang_opt_block {
	display: none;
	flex-direction: column;
	align-items: center;
	gap: 0.625rem;
	width: fit-content;
	height: fit-content;
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: fixed;
	z-index: 100;
	top: 24px;
	left: 0px;
	background-color: white;
	border-radius: 0.7rem;
	border: 3px solid var(--gray-light);
	transition: 
		opacity 0.2s ease-out,
		transform 0.2s ease;
	-webkit-transition: 
		opacity 0.2s ease-out,
		transform 0.2s ease;
	-moz-transition: 
		opacity 0.2s ease-out,
		transform 0.2s ease;
}

.lang_opt {
	padding: 0.15rem 0.5rem;
	cursor: pointer;
	border-radius: 0.5rem;
	width: 62px;
	text-align: center;
	transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
}

.lang_opt:hover {
	background-color: rgb(202, 202, 202);
}

@media (max-width: 430px) {
	#curr_lang {
		font-size: 0.9rem;
	}

	#selector_arrow {
		width: 14px;
		height: 14px;
	}

	.lang_opt {
		padding: 0.1rem 0.25rem;
		border-radius: 0.3rem;
		font-size: 0.75rem;
	}

	.lang_opt_block {
		gap: 0.25rem;
		top: 5px;
		left: 15px;
	}
}