.contact_data_half {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

.map {
	border-radius: 1.25rem;
	width: 100%;
	overflow: hidden;
	border: 1px var(--gray-light) solid;
}

.contacts {
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.2rem;
	margin: 0;
}

.contacts li {
	display:  flex;
	align-items: center;
	gap: 0.625rem;
	font-size: x-large;
	padding: 0.25rem;
	color: var(--gray-light)
}

.contacts li:last-child,
.contacts li:first-child {
	cursor: pointer;
	border-radius: 1rem;
	box-sizing: border-box;
	border: 1px solid transparent;
	transition: 
		opacity 0.3s ease,
		transform 0.3s ease,
		border 0.3s ease;
	-moz-transition: 
		opacity 0.3s ease,
		transform 0.3s ease,
		border 0.3s ease;
	-webkit-transition:  
		opacity 0.3s ease,
		transform 0.3s ease,
		border 0.3s ease;
}

.contacts li:last-child:hover,
.contacts li:first-child:hover {
	opacity: 0.5;
	border: 1px var(--gray-dark) solid;
	padding: 0.25rem;
}

.contacts li:last-child:active,
.contacts li:first-child:active {
	opacity: 0.5;
	border: 1px var(--gray-dark) solid;
	padding: 0.25rem;
	transform: scaleX(0.95);
}

.contacts li a {
	display:  flex;
	align-items: center;
	gap: 0.625rem;
}

#map_link {
	color: var(--gray-light);
	text-decoration: none;
}

.contacts p {
	margin: 0;
}

@media (max-width: 1100px) {
	.map,
	.map_frame {
		width: 300px;
	}

	.map {
		justify-self: flex-end;
	}
}

@media (max-width: 820px) {
	.map,
	.map_frame {
		height: 300px;
		width: 200px;
	}
}

@media (max-width: 645px) {
	.contacts {
		gap: 0.2rem;
	}

	.contacts li img {
		width: 18px;
		height: 18px;
	}

	.contacts li p {
		font-size: 0.8rem;
	}

	.map,
	.map_frame {
		align-self: center;
		height: 120px;
		width: 200px;
	}
}

@media (max-width: 490px) {
	.contacts {
		gap: 0;
	}

	.contacts li img {
		width: 12px;
		height: 12px;
	}

	.contacts li p {
		font-size: 0.55rem;
	}

	.map,
	.map_frame {
		height: 100px;
		width: 80px;
	}
}
