.promotions_section_view {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.938rem;
	margin-bottom: 1rem;
}

.promotions_title_view {
	color: white;
	font-size: 4.5rem;
}

.tarrifs_view {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1.688rem;
}

.tarrif_container {
	background-color: var(--gray-light);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	box-sizing: border-box;
	padding: 1.6rem 3rem;
	border: 3px solid black;
	border-radius: 1.875rem;
}

.recommended {
	border: 10px solid var(--gold);
}

.tarrif_container_title {
	color: white;
	font-size: x-large;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.price {
	color: var(--gold);
	font-size: large;
}

.services_list {
	color: white;
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	list-style-type: disc;
	padding-left: 1rem;
}

.tarrif_service {
	font-size: small;
}

@media (max-width: 1000px) {
	.tarrifs_view {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		width: 40%;
	}

	.tarrif_container {
		height: 500px;
	}
}

@media (max-width: 810px) {
	.tarrifs_view {
		width: 50%;
	}
}

@media (max-width: 570px) {
	.promotions_title_view {
		font-size: 3.5rem;
	}

	.tarrifs_view {
		width: 60%;
	}

	.tarrif_container {
		height: fit-content;
		padding: 1rem;
	}
}

@media (max-width: 470px) {
	.promotions_title_view {
		font-size: 3rem;
	}

	.tarrifs_view {
		width: 70%;
	}
}

@media (max-width: 380px) {
	.promotions_title_view {
		font-size: 2.5rem;
	}
}